.banner {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.banner-image {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
}
.divider {
  border-left: 3px solid #716f6f;
  height: 100%;
}
