.footer ul {
  list-style-type: none;
  padding-left: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #ccc;
  text-decoration: none;
}

.footer ul li a:hover {
  color: #fff;
}

.footer .social-icons a {
  color: #fff;
  font-size: 20px;
}

.footer .social-icons a:hover {
  color: #ccc;
}

.footer hr {
  border-top: 1px solid #fff;
}

.list-unstyled {
  /* float: left; */
}
