/* Layout.css */

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Ensures the layout covers the full height of the viewport */
}

.layout-header,
.layout-footer {
  background-color: #f8f9fa;
  /* padding: 10px; */
  text-align: center;
}

.layout-content {
  flex: 1;
  /* Ensures the content area takes up the remaining space */
  display: flex;
}

.layout-sidebar-left,
.layout-sidebar-right {
  background-color: #e9ecef;
  padding: 10px;
  width: 20%;
  /* Set a fixed width for sidebars */
  box-sizing: border-box;
}

.layout-main {
  background-color: #ffffff;
  padding: 10px;
  flex: 1;
  /* Ensures the main content area takes up the remaining space */
  box-sizing: border-box;
}
